*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: hsl(235, 21%, 11%);
    font-family: system-ui;
}
.banner-container{
    width: 100%;
    height: 60vh;
}
.banner{
    width: 100%;
    height: 100%;
    background: url("./images/bg-desktop-dark.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin-top: 40vh;
}
.content h1{
    letter-spacing: 3px;
    color: #fff;
}
.content img{
    height: 34px;
}
.todo{
    width: 600px;
    max-height: 498px;
}
form{
    width: 100%;
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form input{
    width: 100%;
    padding: 15px 30px;
    border-radius: 5px;
    /* margin-top: 2rem; */
    background: hsl(235, 24%, 19%);
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    outline: none;
    border: none;
}
input::placeholder{
    color: #fff;
    letter-spacing: 2px;
}
.list{
    width: 100%;
    max-height: 330px;
    margin-top: 2rem
}
.todo-containertainer{
    width: 100%;
    background-color: hsl(235, 24%, 19%);
    border-radius: 5px;
}
.todo-li{
    display: flex;
    background-color: hsl(235, 24%, 19%);
    padding: 1rem 0.9rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-style: italic;
    font-size: 18px;
    align-items: center;
}
.todo-li p{
    width: 92%;
    color: #fff;
}
.todo-li .check{
    width: 20px;
    height: 20px;
    border: 1px solid hsl(233, 14%, 35%);
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin-right: 1rem;
    cursor: pointer;
}
.todo-li .check img{
    transform: scale(0);
    transition: all 0.3s ease;
}
.todo-li .close{
    background: transparent;
    border: none;
    outline: none;
    opacity: 0;
    transition: all 0.4s ease;
    cursor: pointer;
}
.todo-li:hover .close{
    opacity: 1;
}
.hr{
    width: 100%;
    background: hsl(233, 14%, 35%);
    height: 0.9px;
}
.info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: hsl(234, 11%, 52%);
    padding: 1rem 0.9rem;
    background: hsl(235, 24%, 19%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
.choice{
    display: flex;
}
.choice p{
    padding:  0 5px;
}
.info p:hover{
 color: hsl(220, 98%, 61%);
}
.active{
    color: hsl(220, 98%, 61%);
}
.active-check{
    background: linear-gradient( hsl(192, 100%, 67%) , hsl(280, 87%, 65%));
}
.active-check img{
    transform: scale(1) !important;
}
.complete{
    text-decoration: line-through;
    opacity: 0.5;
}

.plusButton {
    /* Config start */
    --plus_sideLength: 2.5rem;
    --plus_topRightTriangleSideLength: 0.9rem;
    /* Config end */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: var(--plus_sideLength);
    height: var(--plus_sideLength);
    background-color: #000000;
    overflow: hidden;
    margin-left: 5px;
  }
  
  .plusButton::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
    border-style: solid;
    border-color: transparent white transparent transparent;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
  }
  
  .plusButton:hover {
    cursor: pointer;
  }
  
  .plusButton:hover::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
  }
  
  .plusButton:focus-visible::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
  }
  
  .plusButton>.plusIcon {
    fill: white;
    width: calc(var(--plus_sideLength) * 0.7);
    height: calc(var(--plus_sideLength) * 0.7);
    z-index: 1;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
  }
  
  .plusButton:hover>.plusIcon {
    fill: black;
    transform: rotate(180deg);
  }
  
  .plusButton:focus-visible>.plusIcon {
    fill: black;
    transform: rotate(180deg);
  }